<div class="modal-header">
    <h2 class="modal-title">Edit Product</h2>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-md-10 col-lg-10">
          <form [formGroup]="addproductform" (ngSubmit)="update()">
            <div class="form-group">
              <h3 style="margin-bottom: 0px;">Product name</h3>
              <textarea type="text" id="pname" rows=2 class="form-control" formControlName="title"
              [(ngModel)]='pname'> </textarea>
            </div>
            <div class="form-group">
              <h3 style="margin-bottom: 0px;">Product Description</h3>
              <textarea rows="5" id="pdesc" type="text" class="form-control" formControlName="description" [(ngModel)]="pdesc"></textarea>
            </div>
            <div class="form-group">
              <label for="productPrice">Product price</label>
              <input type="text" id="pprice" class="form-control" formControlName="price" [(ngModel)]="pprice">
            </div>
            <button id="btnSubmit" type="submit" class="btn btn-success" style="margin-bottom:10px;">Update Product 
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
  
  