<ng-container>
  <div class="container" [hidden]="!cartempty">
    <div>
      <h1 class="card-title">Cart</h1>

      <div class="center">
        <img class="card-title" src="src\assets\empty-wishlist.png" alt="" />
        <h1>Your Cart is Empty!</h1>
        <h3>Add Items to your cart</h3>
        <button class="btn btn-primary" routerLink="/userdash">
          Continue Shopping
        </button>
      </div>
    </div>
  </div>
</ng-container>
<div class="" [hidden]="cartempty">
  <ng-container *ngIf="true">
    <div class="card-table container">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <!-- <th>Sr. No</th> -->
              <th>Product Name</th>
              <th>Product Image</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cartdata2">
              <!-- <td>{{item.id}}</td> -->
              <td>{{ item.title }}</td>
              <td>
                <img
                  src="{{ item.image }}"
                  alt=""
                  style="width: 50px; height: 50px"
                />
              </td>
              <td>{{ item.price }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.price * item.quantity }}</td>
              <td>
                <button class="btn btn-danger">
                  <fa-icon
                    [icon]="trashicon"
                    (click)="delitem(item.productId)"
                  ></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>

          <tr>
            <td>Total Amount</td>
            <td></td>
            <td></td>
            <td></td>
            <td>${{ total | number }}</td>
            <td><button class="btn btn-success" routerLink="">PAY</button></td>
          </tr>
        </table>
      </div>
    </div>
  </ng-container>
</div>
